div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0 25px;
}

button{
    cursor: pointer;

    background-color: brown;
    color: whitesmoke;
    padding: 10px;
    border: none;
    outline: none;

    border-radius: 6px;

    transition-property: all;
    transition-duration: 0.5s;
}

button:hover{
    background-color: white;
    border:0.5px solid brown;
    color: brown;
}

